{% extends "master.html" %}

{% block title %}Policies{% endblock %}

{% block maincontent %}
                    <div class="row">
                        <div class="col-lg-12">
                            <h3 class="page-header">Wigzo Policies and Documentation</h3>
                        </div>
                    </div>

{{index|safe}}

<div class="wmarkdown">
{{content|safe}}
{% endblock %}
</div>

{% block extracss %}
<style type="text/css">@import '/static/stylesheets/main.css';</style>
{% endblock %}
